/**
 * Konami-code example css.
 * TODO: Cleanup.
 *
 */


#tetris_popup
{
	position: absolute;
	top: 70px;
	left: 200px;

}

.tetris_container
{



}

#tetris_hiddenbox
{
	/*display: none;*/
	color: transparent;
	background-color: transparent;
	border: none;

	position: absolute;
	top: 300px;
	left: 200px;
}

.tetris_game_background
{
	position: absolute;
	opacity: 0.2;
	height: 540px;
	width: 300px;
	background-color: #555753;
	top: 25px;
	left: 25px;
	z-index: 2;
}

.tetris_background
{
	opacity: 0.6;
	position: absolute;
	height: 550px;
	width: 430px;
	background-color: #888a85;
	border: 20px solid #555753;
	top: 1px;
	left: 1px;
	z-index: 1;

}

.preview_background
{

	background-color: #555753;
	height: 100px;
	width: 100px;
	opacity: 0.4;
	position: absolute;
	top: 25px;
	left: 340px;
	z-index: 2;

}

.status_background
{
	width: 100px;
	height: 70px;
	background-color: #75507b;
	position: absolute;
	top: 145px;
	left: 340px;
	opacity: 0.6;
	z-index: 2;

}

#game_canvas
{

	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 3;
}

#preview_canvas
{

	position: absolute;
	top: 25px;
	left: 340px;
	z-index: 3;
}

#status_display
{
	color: #8ae234;
	
	width: 100px;
	height: 70px;

	position: absolute;
	top: 145px;
	left: 340px;
	padding-left: 4px;
	z-index: 3;
}

#status_display td
{
	font-family: monospace;
	color: #8ae234;
	font-size: 14px;
	font-weight: bold;
}

#tetris
{
	width: 430px;
	height: 550px;

}
