#debug_container
{
	display: none;
	float: right;
	margin: 5px;
	/*background-color: black;*/
	height: 300px;
	width: 300px;
	overflow: auto;
	border: 2px solid blue;
}

#game_canvas
{
	float: left;
	margin: 5px;
	background-color: black;
	border: 2px solid #babdb6;
}

#preview_canvas
{
	float: right;
	margin: 5px;
	border: 2px solid #babdb6;
	background-color: #555753;
}

#status_display
{
	float: right;
	margin: 5px;
	border: 2px solid #babdb6;
	width: 100px;
	height: 75px;
	background-color: #eeeeec;
}

#tetris
{
	width: 430px;
	height: 560px;
	border: 2px solid #2e3436;
	background-color: #888a85;
}
