#debug_container
{
	float: right;
	margin: 5px;
	/*background-color: black;*/
	height: 300px;
	width: 300px;
	overflow: auto;
	border: 2px solid blue;
}

#game_canvas
{
	float: left;
	margin: 5px;
	background-color: black;
	border: 2px solid blue;
}

#preview_canvas
{
	float: right;
	margin: 5px;
	border: 2px solid blue;
}

#status_display
{
	float: right;
	margin: 5px;
	border: 2px solid blue;
	width: 300px;
	height: 75px;
}
