/**
 * JS-Tetris example css.
 * TODO: Cleanup.
 *
 */

body
{
	/*border: 5px solid #204a87;*/
	background-color: #3465a4;
}


#debug_container
{
	display: none;
	float: right;
	margin: 5px;
	/*background-color: black;*/
	height: 300px;
	width: 300px;
	overflow: auto;
	border: 2px solid blue;
}

#game_canvas
{
	float: left;
	margin: 5px;
	background-color: #555753;
	border: 2px solid #babdb6;
	height: 540px;
	width: 300px;
}

#preview_canvas
{
	float: right;
	margin: 5px;
	border: 2px solid #babdb6;
	background-color: #555753;
	height: 100px;
	width: 100px;
}

#status_display
{
	float: right;
	margin: 5px;
	border: 2px solid #babdb6;
	width: 100px;
	height: 75px;
	background-color: #eeeeec;
}

#tetris
{
	width: 430px;
	height: 560px;
	border: 2px solid #2e3436;
	margin-left: auto;
	margin-right: auto;
	background-color: #888a85;
}
